/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
}

*,
*:after,
*::before {
    box-sizing: inherit;
}